@import "../../../scss/variables";
.products {
  padding: 4rem 5%;

  .main {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;

    // grid-template-columns: repeat(4, min-content);
    // grid-template-rows: repeat(3, auto);
    // grid-auto-flow: row dense;
    // grid-gap: 2rem;
  }
}
