@import "../../../scss/variables";
@import "../../../scss/mixins";

.trackOrder {
  padding: 10rem 5%;
  font-family: $f-inter;

  & > p {
    font-size: 1.2rem;
  }
  .container {
    padding: 2rem 2%;
    border-radius: 0.6rem;
    border: 1px solid rgba($c-cool-gray, 0.2);
    font-size: 1.34rem;
    margin: 2rem 0;

    form {
      & > p {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        row-gap: 1rem;

        label {
          font-size: 1.2rem;
          font-weight: 500;
        }
        input {
          border: 1px solid rgba($c-cool-gray, 0.2);
          padding: 0.4rem 1rem;
          font-size: 1.2rem;
          border-radius: 0.8rem;

          &[type="email"] {
            cursor: not-allowed;
          }

          &:focus {
            border: 1px solid $c-darker-blue;
          }
        }
        & > span {
          color: red;
          font-size: 1rem;
        }
      }

      button[type="submit"] {
        background-color: hsl(0, 0%, 96%);
        color: $c-darkest-blue;
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        border-radius: 0.4rem;
        padding: 0.5rem 3rem;
        cursor: pointer;
        transition: all 0.2s linear;
        margin-top: 4rem;
        outline: 2px solid hsl(0, 0%, 96%);
        outline-offset: 2px;
        &:disabled {
          cursor: not-allowed;
        }
        &:active {
          transform: translateY(0px);
        }

        &:hover,
        &:focus {
          background-color: $c-darkest-blue;
          color: #fff;
          transform: translateY(-2px);
          outline: 2px solid $c-darkest-blue;
        }
      }
    }

    @include respondTo(max, $bp-medium) {
      font-size: 1rem;
      padding: 1rem;
      min-width: 40rem;
    }
  }
  .tableWrapper {
    box-shadow: 0 0 2px solid red;
    table {
      width: 100%;

      thead {
        th {
          color: $c-darkest-blue;
          text-align: left;
          background-color: hsl(0, 0%, 98%);
          padding: 1rem;
          @include respondTo(max, $bp-medium) {
            padding: 2%;
          }
          &:nth-last-of-type(2),
          &:nth-last-of-type(1) {
            // status and actions quantity th
            text-align: center;
          }
        }
      }

      tbody {
        td {
          padding: 0.5rem;
          color: #262626;

          @include respondTo(max, $bp-medium) {
            padding: 1%;
          }
          &:nth-last-of-type(2),
          &:nth-last-of-type(3) {
            // status  anD quantity td
            text-align: center;
          }

          &:nth-last-of-type(2) {
            //  STATUS  td
            button {
              cursor: pointer;
              display: flex;
              column-gap: 0.5rem;
              margin: 0 auto;
              @include respondTo(max, $bp-medium) {
                font-size: 1rem;
              }
              svg {
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}
