@import "../../../scss/variables";
.pagination {
  display: flex;
  margin: 8rem 0;
  justify-content: center;
  gap: 1rem;
  button {
    padding: 0.4rem;
    border-radius: 0.4rem;
    font-family: $f-inter;
    font-size: 1.2rem;
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 2px 2px hsla(0, 0%, 66%, 0.2);
    font-weight: 500;
    cursor: pointer;
    color: #3b3b3b;
    &:disabled {
      cursor: not-allowed;
      opacity: 0.8;
    }

    &.currentPageBtn {
      background: red;
    }
  }
}
