@import "../../../scss/variables";
.errorUI {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0;
  color: #ff2222;

  svg {
    font-size: 30rem;
  }

  h3 {
    font-size: 2.4rem;
    margin-top: 10rem;
    font-weight: 500;
  }
  a {
    font-size: 1.6rem;
    font-weight: 500;
    color: $c-primary-blue;
    margin-top: 2rem;
    &:focus,
    &:hover {
      color: $c-cool-gray;
    }
  }
}
