.pointer-cursor {
  cursor: pointer;
}

.errorFormMessage {
  color: rgb(231, 18, 18);
}

.successFormMessage {
  color: rgb(3, 169, 11);
}

.mt-10 {
  margin-top: 1rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
