@import "../../../scss/variables";
@import "../../../scss/mixins";

.container {
  padding: 0.4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1px $c-cool-gray;
  width: 20rem;
  position: relative;
  border: 1px solid transparent;
  transition: all 0.2s linear;
  @include respondTo(max, $bp-small) {
    width: 90%;
  }

  &:focus,
  &:hover {
    border: 1px solid lighten($c-cool-gray, 40%);
    transform: translateY(-2px);
  }
  .product {
    display: flex;
    flex-direction: column;
    font-family: $f-inter;
    width: 100%;

    @include respondTo(max, $bp-small) {
      flex-direction: row;
      column-gap: 0.8rem;
      align-items: center;
    }

    .imgContainer {
      height: 10rem;
      width: 100%;
      @include respondTo(max, $bp-small) {
        align-self: stretch;
        width: 20rem;
        height: 20rem;
      }
      & > img {
        // product thumbnail image
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
      }
    }

    .textPart {
      .name {
        display: flex;
        margin-top: 0.4rem;
        color: #454545;
        justify-content: space-between;
        & > h3 {
          // product name ;
          font-size: 1.4rem;
          font-weight: 600;
        }
      }
      .shortDescription {
        color: #656565;
        font-size: 1.3rem;
        margin: 0.5rem 0;
        max-width: 90%;
      }

      .category {
        font-weight: 500;
        font-size: 1.2rem;
        margin-bottom: 0.7rem;
        span {
          color: #fff;
          padding: 2px;
          border-radius: 2px;
          background: $c-cool-gray;
        }
      }
      .prices {
        margin: 1rem 0;

        span:nth-of-type(1) {
          color: $c-darkest-blue;
          font-size: 1.4rem;
          font-weight: 500;
          margin-right: 0.4rem;
        }
        span:nth-of-type(2) {
          text-decoration: line-through;
          font-size: 1.23rem;
          font-weight: 500;
          color: #666666;
          margin-right: 0.5rem;
        }
      }

      .ratings {
        color: hsl(0, 0%, 29%);
        display: flex;
        align-items: flex-end;
        font-size: 1rem;

        svg {
          width: 1.8rem;
          height: 1.8rem;
          align-self: flex-start;
        }

        span:nth-of-type(1) {
          font-weight: 600;
          font-size: 1.4rem;
          margin-right: 0.2rem;
        }
        span:nth-of-type(2) {
          font-size: 1.2rem;
        }
      }
    }
  }
  .cartBtn {
    position: absolute;
    bottom: 0.4rem;
    right: 0.4rem;
    z-index: 200;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    color: #fff;

    justify-content: center;
    transition: all 0.3s linear;

    background-color: $c-cool-gray;
    cursor: pointer;
    &.addedToCart,
    &.addedToCart:focus,
    &.addedToCart:hover {
      background-color: $c-muted-green;
    }
    &.isAddingToCart {
      animation: spin 1s linear infinite;
      transform-origin: center;
    }
    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
    &:focus,
    &:hover {
      background-color: $c-primary-blue;
      box-shadow: 0 0 2px rgba($color: #000000, $alpha: 0.2);
    }
  }
}
